######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar

######################
# Mac OS
######################
.DS_Store
.svn

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
.gradle/wrapper/gradle-wrapper.jar
.gradle/**

